[submodule "Adafruit_TinyUSB_Arduino"]
	path = Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino/
[submodule "TinyUSB_Mouse_and_Keyboard"]
	path = TinyUSB_Mouse_and_Keyboard
	url = https://github.com/cyborg5/TinyUSB_Mouse_and_Keyboard/
